@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
}
/* .bg-hero-leaf1 {
  background-image: url("./assets/hero-leaf1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.bg-hero-leaf2 {
  background-image: url("./assets/hero-leaf2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
